/* Estilos generales para la página de inicio de sesión */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../img/fondo.jpg');
    background-size: 100% 100vh; /* imagen de fondo que se adapta al ancho y alto de la pantalla */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    text-align: center;
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}



.button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

h1 {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    width: 405px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 400px;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.wrapper {
  font-size: 30px;
  height: 2em;
  width: 100%;
  display: flex;
}

.wrapper.invert span {
  color: black;
}

.wrapper.invert span::before {
  -webkit-text-stroke: 0.1em var(--color);
}
  
  span {
  --color: #57ff6d;
  font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 10;
  font-style: italic;
  color: var(--color);
  letter-spacing: -.005em;
}

span::before, span::after {
  content: attr(data-text);
  display: block;
  position: relative;
  padding: 0.1em;
  z-index: 1;
}

span::before {
  position: absolute;
  -webkit-text-stroke: 0.1em black;
  z-index: 0;
}

span:first-child {
  transform: translate(-.255em, -.25em);
}

span:last-child {
  --color: #ffba11;
  transform: translate(.255em,.25em);
}
@media (max-width: 480px) {

  body {
    background-image: url('../img/fondoTlfLogin.jpg'); /* imagen de fondo para teléfonos */
    background-size: 100% 100vh; /* imagen de fondo que se adapta al ancho y alto de la pantalla */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}