#logo{
    width: 250px;
    height: 125px;
}

#accesorios {
    text-align: center;
    width: 170px;
  }
  
  #accesorios label {
    display: flex;
  }
  #accesorios input[type="checkbox"] {
    cursor: pointer;
  }
  
  #accesorios input[type="checkbox"] {
    margin: 0; 
    display: inline-block;
    width: 17px;
    height: 17px;
  }
  
  #accesorios input[type="checkbox"] + label {
    margin-left: 5px;
  }
  
  /* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: greenyellow;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.users-table {
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.users-form {
  text-align: center;
}

.users-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para el formulario */
.users-form form {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 90%; /* Ajusta el ancho del formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.users-form input[type="text"],
.users-form input[type="date"],
.users-form select,
.users-form input[type="email"],
.users-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para los checkboxes */
.users-form label input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

/* Estilos para el botón */
.users-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.users-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para el select */
.users-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-form select::-ms-expand {
  display: none;
}

.users-form select:focus {
  outline: none;
  border-color: #4CAF50;
}

.inputs {
  width: 150px;
  margin: 10px;
}
.inputs input[type="text"], .inputs select {
  display: inline-block;
  width: 150px; /* ajusta el ancho según sea necesario */
  margin-right: 10px;
}

.accesorioscheck label {
  /* estilos para los labels */
  display: block;
  margin-bottom: 25px;
  width: 180px;
}


.accesorioscheck input[type="checkbox"] {
  /* estilos para los inputs de tipo checkbox */
  margin-right: 10px;
}

.nopoint{
  pointer-events: none;
}

div#selecciones{
width: 250px;
}
label#selecciones{
  width: 250px;
  }
select#selecciones{
  width: 250px;
}

/* Estilos de la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbtn, .dropbtn {
  background-color: #333;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el contenido del desplegable al pasar el cursor */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Cambiar el color del botón al pasar el cursor */
.navbtn:hover, .dropdown:hover .dropbtn {
  background-color: #555;
}

/* Estilos para el contenido de ejemplo */
.content {
  margin-top: 60px; /* Espacio para evitar que el contenido quede debajo de la navbar */
  padding: 20px;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed; /* Ajusta el diseño de la tabla a fijo */
}

/* Estilo para las celdas de encabezado */
th {
    background-color: greenyellow;
    color: black;
    padding: 10px;
    text-align: left;
    white-space: normal; /* Cambia el comportamiento de salto de línea a normal */
    overflow: visible; /* Muestra todo el contenido, sin ocultarlo */
    text-overflow: unset; /* Restablece la propiedad de desbordamiento de texto */
}

/* Estilo para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
    white-space: normal; /* Cambia el comportamiento de salto de línea a normal */
    overflow: visible; /* Muestra todo el contenido, sin ocultarlo */
    text-overflow: unset; /* Restablece la propiedad de desbordamiento de texto */
}

/* Estilo para los enlaces dentro de las celdas */
a.users-table--edit,
a.users-table--delete {
  color: green;
  text-decoration: none;
  margin-right: 10px;
}

/* Estilo para los enlaces de editar */
a.users-table--edit:hover {
  text-decoration: underline;
}

/* Estilo para los enlaces de eliminar */
a.users-table--delete:hover {
  text-decoration: underline;
  color: red;
}

.users-table--edit {
  display: block; /* Hace que los enlaces se muestren como bloques, uno debajo del otro */
}

@media screen and (max-width: 480px) {
  .navbar-left {
      align-items: center;
  }

  .navbar-left a,
  .navbar-left .dropbtn {
      text-align: center;
      padding: 10px;
      margin-bottom: 10px;
  }

  header {
      padding: 10px;
  }

  #logo {
      width: 200px;
      height: 100px;
  }

  .content {
      padding: 10px;
  }

  th, td {
      font-size: 12px;
  }
}
table.dataTable {
  width: 100%;
  table-layout: auto !important;
}
table.dataTable th,
table.dataTable td {
  white-space: normal; /* Permite el salto de línea */
  overflow: visible; /* Muestra todo el contenido */
  text-overflow: unset; /* Restablece cualquier configuración de desbordamiento de texto */
  /*max-width: 0;*/
  word-wrap: break-word; /* Forza el salto de palabra */
}

  .form-date__label {
  font-family: “Helvetica”, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 8px;
  }
  .form-date__input[type="date"] {
  appearance: none;
  color: #1D1D1D;
  font-family: “Helvetica”, arial, sans-serif;
  font-size: 15px;
  border:1px solid #ECF0F1;
  background:#c5ff59;
  padding: 4px;
  display: inline-block;
  visibility: visible;
  width: 140px;
  }
  .form-date__input[type="date"]:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #80BDFF;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  :root {
  --arrow-bg: rgb(148, 255, 48);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgb(255, 251, 4);
  --select-bg: rgb(242, 255, 193);
}
* {
  box-sizing: border-box; 
}
/* <select> styles */
.selectStyle {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 18rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  background-color: var(--select-bg);
  color: black;
  border-radius: 7rem;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
