/* Estilos generales para la página de inicio de sesión */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-size: 100% 100vh; /* imagen de fondo que se adapta al ancho y alto de la pantalla */
  background-repeat: no-repeat;
  background-attachment: fixed;

}


h1 {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  width: 80%; /* ancho relativo */
  max-width: 405px; /* ancho máximo */
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: auto; /* margen automático en la izquierda */
  margin-right: auto; /* margen automático en la derecha */
}


/* Media queries para adaptar los estilos a diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  h1 {
    font-size: 24px; /* reducir tamaño de fuente en pantallas más pequeñas */
  }
  .contenedor {
    max-width: 100%; /* reducir ancho del contenedor en pantallas más pequeñas */
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 18px; /* reducir tamaño de fuente en pantallas más pequeñas */
  }
  .contenedor {
    max-width: 100%; /* reducir ancho del contenedor en pantallas más pequeñas */
  }
}

#generate-pdf{
  border-radius:7rem;
  width: 15%
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.wrapper {
  font-size: 30px;
  height: 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.wrapper.invert span {
  color: black;
}

.wrapper.invert span::before {
  -webkit-text-stroke: 0.1em var(--color);
}
  
  .subtitles {
  --color: #57ff6d;
  font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 10;
  font-style: italic;
  color: var(--color);
  letter-spacing: -.005em;
}

.subtitles::before {
  position: absolute;
  -webkit-text-stroke: 0.1em black;
  z-index: 0;
}

.subtitles:first-child {
  transform: translate(-.255em, -.25em);
}

.subtitles:last-child {
  --color: #000000;
  transform: translate(.255em,.25em);
}
.users-table {
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.users-form {
  text-align: center;
  display: flex;
  overflow-x: auto;
  flex-wrap: wrap;
}

.users-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para el formulario */
.users-form form {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  width: 90%; /* Ajusta el ancho del formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.users-form input[type="text"],
.users-form input[type="date"],
.users-form select,
.users-form input[type="email"],
.users-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para los checkboxes */
.users-form label input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

/* Estilos para el botón */
.users-form input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.users-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para el select */
.users-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.users-form select::-ms-expand {
  display: none;
}

.users-form select:focus {
  outline: none;
  border-color: #4CAF50;
}

.inputs {
  width: 150px;
  margin: 10px;
}
.inputs input[type="text"], .inputs select {
  display: inline-block;
  width: 150px; /* ajusta el ancho según sea necesario */
  margin-right: 10px;
}

.accesorioscheck label {
  /* estilos para los labels */
  display: block;
  margin-bottom: 25px;
  width: 180px;
}


.accesorioscheck input[type="checkbox"] {
  /* estilos para los inputs de tipo checkbox */
  margin-right: 10px;
}

.nopoint{
  pointer-events: none;
}

div#selecciones{
width: 250px;
}
label#selecciones{
  width: 250px;
  }
select#selecciones{
  width: 250px;
}

table.dataTable {
  width: 100%;
  table-layout: auto !important;
}
table.dataTable th,
table.dataTable td {
  white-space: normal; /* Permite el salto de línea */
  overflow: visible; /* Muestra todo el contenido */
  text-overflow: unset; /* Restablece cualquier configuración de desbordamiento de texto */
  /*max-width: 0;*/
  word-wrap: break-word; /* Forza el salto de palabra */
}
.content {
  margin-top: 60px; /* Espacio para evitar que el contenido quede debajo de la navbar */
  padding: 20px;
}

/* Estilo para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed; /* Ajusta el diseño de la tabla a fijo */
}

/* Estilo para las celdas de encabezado */
th {
    background-color: greenyellow;
    color: black;
    padding: 10px;
    text-align: left;
    white-space: normal; /* Cambia el comportamiento de salto de línea a normal */
    overflow: visible; /* Muestra todo el contenido, sin ocultarlo */
    text-overflow: unset; /* Restablece la propiedad de desbordamiento de texto */
}

/* Estilo para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
    white-space: normal; /* Cambia el comportamiento de salto de línea a normal */
    overflow: visible; /* Muestra todo el contenido, sin ocultarlo */
    text-overflow: unset; /* Restablece la propiedad de desbordamiento de texto */
}
.notas {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; /* Asegúrate de que el padding y el borde se incluyan en el ancho total */
    padding: 10px; /* Ajusta el padding según sea necesario */
}

/* Asegúrate de que el textarea también sea adaptable */
#editor {
    width: 100%;
    max-width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    box-sizing: border-box; /* Asegúrate de que el padding y el borde se incluyan en el ancho total */
}

/* Ajustes adicionales para pantallas más pequeñas */
@media (max-width: 480px) {
    .inputs {
        padding: 5px; /* Ajusta el padding para pantallas pequeñas */
    }

    #editor {
        height: 150px; /* Ajusta la altura para pantallas pequeñas */
    }
}
:root {
  --arrow-bg: rgb(148, 255, 48);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgb(255, 251, 4);
  --select-bg: rgb(242, 255, 193);
}
* {
  box-sizing: border-box; 
}
/* <select> styles */
.selectStyle {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 18rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  background-color: var(--select-bg);
  color: black;
  border-radius: 7rem;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */}
  ::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  :focus {
    outline: none;
  }
  /* <option> colors */
  .opt_general {
    color: inherit;
    background-color: var(--option-bg);
  }
  .form-date__label {
    font-family: “Helvetica”, arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 8px;
    }
    .form-date__input[type="date"] {
    appearance: none;
    color: #1D1D1D;
    border-radius: 7rem;
    font-family: “Helvetica”, arial, sans-serif;
    font-size: 15px;
    border:1px solid #ECF0F1;
    background:#57ff6d;
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 140px;
    }
    #label_max-date {
      margin-left: 3.5%
        }
    .form-date__input[type="date"]:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    .navbar-nav .nav-link:hover {
      color: rgb(255, 255, 255) !important; /* Cambia el color de texto a blanco */
      background-color: #337ab7; /* Cambia el fondo a un azul claro */
      transition: background-color 0.2s ease; /* Agrega un efecto de transición */
      border-radius: 7rem;
    }
    @media (max-width: 480px) {
      h1 {
        font-size: 14px; /* reducir tamaño de fuente en pantallas más pequeñas */
      }
      .container {
        max-width: 300px; /* reducir ancho del contenedor en pantallas más pequeñas */
        display: flex; 
        flex-wrap:wrap;
      }
      body {
        background-color: #f4f4f4;
      }
      #bg_img{
        display: none;
      }
      #generate-pdf{
        border-radius:7rem;
        width: 50%;
        margin-bottom: 10%;
        margin-left: 30%;
      }
      #label_max-date {
        margin-left: 13%;
          }
    }
    